
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        id="1"
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardTitle="Um título aqui"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu purus mi. Phasellus imperdiet faucibus neque, consectetur vehicula mi varius vitae."
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            id="2"
            cardTitle="Um título aqui"
            photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        >      
        </app-small-card>
        <app-small-card
            id="3"
            cardTitle="Outro título aqui"
            photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        >
        </app-small-card>
        <app-small-card
            id="4"
            cardTitle="Outro título aqui"
            photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        >
        </app-small-card>
    </div>
</div>